<html>
<head>
    <meta name="author" content="Ramakrishna V">
    <title>Happy Diwali - Lantern</title>
    <link rel="image_src"  href="../diwali.jpg" >
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <link href="../../../assets/css/fire.css" rel="stylesheet" type="text/css">
    <link href="../../../assets/css/second.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://w.sharethis.com/button/buttons.js"></script>
    <script src="../../../assets/js/fire.js" type="text/javascript"></script>

</head>
<body>


<section>
    <div class="clouds">
        <div class="cloud x1"></div>
        <div class="cloud x2"></div>
        <div class="cloud x3"></div>
        <div class="cloud x4"></div>
        <div class="cloud x5"></div>
        <div class="cloud x1"></div>
        <div class="cloud x2"></div>
        <div class="cloud x3"></div>
        <div class="cloud x4"></div>
        <div class="cloud x5"></div>
    </div>

    <div id="stars" class="stars">
    </div>
</section>
<section>
    <div class="lamp" style="margin-left:340px;margin-top:190px">
        <div class="top"></div>
        <div class="flame"></div>
    </div>


    <div class="lantern" id="lantern" style="margin-top:-220px;margin-right:250px">
        <div class="lantern-hang"></div>
        <div class="lantern-top">
        </div>
        <div class="lantern-inner">
            <div class="lantern-left">

            </div>
            <div class="lantern-bottom">
            </div>
            <ul class="ribbons">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>

</section>
<section>

    <div class="wall">
        <div class="wall-outer"></div>
        <div class="textbg">
            <div class="lantern-text">Happy Diwali 2014</div>
            <div class="lantern-texts">SAY 'NO' TO POLLUTION</div>
        </div>

    </div>
</section>
</body>
<html>

